/* Adapted from Eric Meyer's reset css */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

html {
	height: 100%;
	width: 100%;
	padding-bottom: 0px;
	padding-top: 0px;
	margin: 0px auto;
}

h1,h2,h3,h4,h5,h6,pre,code { font-size:1em; }

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img,:link img,:visited img { border:none }

address { font-style:normal }

body { 
	height: 100%;
	width: 100%;
	margin: 0px auto;
	text-align: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	line-height: 1.5;
	color: #000000;
	background: #fff;
}

a {
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #610C04;
	color: #831005;
}

a:link, a:visited {
	color: #831005;
}

a:hover  {
	color: #B51606;
	border-bottom-style: solid;
    border-bottom-color: #B51606;
}  

/* ------- Skip to nav menu/content links ------- */
#skip-links a, #skip-links a:link, #skip-links a:visited, #skip-links a:hover { 
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -500px;
    width: 1px;
}

#skip-links a:active, #skip-links a:focus {
    position: static;
    height: auto;
    width: auto;
}
/* ------- 
 * ------- End of skip links styles section -------
 * ------- 
 */
 
/*
** Markup free clearing
** Details: http://www.positioniseverything.net/easyclearing.html
*/
.clear-block:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Hides from IE-mac \*/
* html .clear-block {
  height: 1%;
}

.clear-block {
  display: block;
}
/* End hide from IE-mac */
 
#page {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	
}

/* ------- Header ------- */
#header {
	height: 72px;
	background-color: #e6e7e8;
}

@media screen and (max-width: 960px) {
	#header {
		width: 960px;
	}
}

.logo-wrapper {
	width: 900px;
}

.header-links {
	min-width: 900px;
}

a#logo {
  background:url("images/arsc.gif") no-repeat scroll left top transparent;
  color:transparent;
  display:block;
  height:72px;
  width:575px;
  float: left;
  border-bottom: none;
}

.header-links a:first-child {
    margin-right: .875em;
}

.header-links a {
    color: #333333;
    border-bottom-color: #666666;
    margin-top: 2em;
}

.header-links a, .header-links span {
    float: right;
}

.header-links span{
	padding: .5em;
	margin-top: 1.5em;
}

.header-links a:hover {
    color: #B51606;    
    border-bottom-color: #B51606;
}

/* ------- SubHeader ------- */
.subheader {
	background-color: #000;
}

@media screen and (max-width: 960px) {
	.subheader {
		width: 960px;
	}
}

.subheader div {
	margin: 0 0 0 1em;
	min-width: 900px;
	overflow: hidden;
}

.nav-links li {
	display: inline;
}

.breadcrumbs {
    color: #EEEEEE;
    padding: 0.4em 0;
    float: left;
}

.breadcrumbs a, .breadcrumbs a:visited {
    color: #EEEEEE;
    border-bottom-color: #EEEEEE;
}

.breadcrumbs a:hover {
    color: #FFFFFF;
    border-bottom-color: #B51606;
}

.breadcrumbs li span, .pubs li span {
	padding: 0 .125em 0 .5em;
}

.pubs li.first span {
	padding: 0 .125em 0 0;
}

.breadcrumbs li.last {
	font-weight: bold;
}

.pubs {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    float: right;
    color: #EEEEEE;
    padding-top: 2px;
    margin-right: .875em;
}

.pubs a:link, .pubs a:visited {
    color: #EEEEEE;
    border-bottom-color: #EEEEEE;
}

.pubs a:hover {
    color: #FFFFFF;
    border-bottom-color: #B51606;
}


#content {
	margin: 0 auto 5em auto;
	padding: 0 1em;
}

h1 {
    font-size: 13pt;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #999999;
    border-left-width: 12px;
    border-left-style: solid;
    border-left-color: #B51606;
    padding-left: .75em;
    margin-top: 1.2em;
}

ul#local-links {
	margin-top: .9em;
}

ul#local-links li {
	margin-bottom: 1.75em;
}

ul#local-links li a {
	margin-left: .5em;
}

ul#local-links li.activelink a {
	color: #000;
}

p {
	margin-top: 1em;
	line-height: 2;
}

/* ------- Form ------- */
table.record {
	border: 1px solid #cccccc;
	background-color: #f9f8f8;
	color: #000000;
	font-size: 0.875em;
	width: 90%;
	margin: 0px auto;
}

input {
	background-color: #ffffff;
	border: 1px #a8a8a8 solid;
	padding: 4px;
	margin-left: 0.75em;
}

select {
	background-color: #ffffff;
	border: 1px #a8a8a8 solid;
	height: 1.875em;
}

td.field_name {
	text-align: right;
	padding-right: 1em;
	vertical-align: text-top;
}

td.field_data {
	padding-top: 1.5em;
}

.fieldinput {
	width: 30em;
}

select.fieldinput {
	margin-left: 8px;
}

td.button_row {
    padding-top: 1em;
}

input[type="submit"], input[type="radio"] {
	margin-left: 0;
}

input[type="submit"] {
	padding: 7px;
}

input[type="submit"]:hover {
	background: #D0D7E0; /* old browsers */
	background: -moz-linear-gradient(top, #D0D7E0 0%, #EBF4FF 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#D0D7E0), color-stop(100%,#EBF4FF)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D0D7E0', endColorstr='#EBF4FF',GradientType=0 ); /* ie */
    border: 1px solid #95a9bd;
}

input.reset {
	background: none;
	border: none;
	text-decoration: underline;
	margin-left: 1.75em;
}

input.reset:hover {
	color: #ffa50c;
}

td.first {
	padding-top: 2.5em;
}

td.last {
	padding-bottom: 2.5em;
}

/* ------- Records Table ------- */
ul#recordlist_nav {
    margin: 0 0 1em;
}

ul#recordlist_nav li {
    display: inline;
    padding: 0.25em;
}

table.browse_records {
	border-left: 1px solid #D7BE5D;
	border-bottom: 1px solid #D7BE5D;
	font-size: .9em
}

table.browse_records th {
    text-align: left;
    padding-right: 1em;
    border-bottom: 3px solid #CCC;
    background-color: #F8F2CE;
    border-right: 1px solid #D7BE5D;
    border-top: 1px solid #D7BE5D;
    padding: 8px;
}

table.browse_records td {
	background-color: #f5f0e0;
    border-right: 1px solid #D7BE5D;
    border-top: 1px solid #D7BE5D;
    padding: 8px;
    text-algin: left;
}

table.browse_records .alt_row td {
background-color: #F6F3E6;
}

/* ------- Error Page ------- */
#error {
	padding: 0.5em;
	background: #FFAD5B;
	font-size: 1.25em;
	border: 1px solid #DE631E;
}

#error p {
	margin-top: 0;
}

/* ------- Footer ------- */
#footer {
	background-color:#EEE;	
	width: 100%;
	float: left;
	font-size: 8pt;
}

@media screen and (max-width: 960px) {
	#footer {
		width: 960px;
	}
}

#footer > div {
	margin: 0 0 0 1em;
	min-width: 900px;
}

#footer ul.breadcrumbs {
	color: #000;
}

#footer .breadcrumbs a, #footer .breadcrumbs a.visited  {
	color: #610C04;
	border-bottom-color: #610C04;
}

#footer .breadcrumbs a:hover {
	color: #B51606;
	border-bottom-style: solid;
    border-bottom-color: #B51606;
}

#footer-right {
	margin-right: .875em;
	float: right;
}

#footer-right p {
	margin-bottom: 0;
	padding-left: 6px;
	display: inline;
}

#footer span {
	padding: .5em;
}

#footer-left {
	float: left;
}